@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

.dark:root {
  --foreground-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
}

#__next {
  @apply min-h-screen relative flex flex-col;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
